body{
    font-family: 'Roboto', sans-serif;
    
}
/* font-family: 'Montserrat', sans-serif; 
font-family: 'Raleway', sans-serif;*/

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Buttons */
.button {
    background-color: #F5F4FA;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button:hover,
.button:active {
    color: white;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.page-buttons {
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.contacts {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.page-buttons:hover,
.page-buttons:active,
.contacts:hover,
.contacts:active {
    color: #2196F3;
}

/*Company name*/

.company-name1 {
    color: #2196F3;
}

.company-name2 {
    color: black;
}

.company-name1,
.company-name2 {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.address {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    /*color: #FFFFFF;*/
}

/* Gallery */

.galleries {
}

.gallery-image {   
}

.gallery-title {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.gallery-paragraph {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

/* index */

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.specialisation-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.specialisation-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.work-title, .title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.work-image-1 {

}

.work-image-2 {

}

.work-image-3 {

}

.person-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.person-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

